.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef2f3;
}

.login-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-box button:hover {
  background: #005ad1;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.switch-text {
  margin-top: 10px;
  text-align: center;
}

.switch-text span {
  color: #0072ff;
  cursor: pointer;
  font-weight: bold;
}
.error-field {
  border: 1px solid red;
}